img{
	height: 19%;
	width: 19%;
}

body {
	background:white;
}

h1 {
	color: black;
	padding-top: 60px;
}

.topnav {

}
.topnav a {
	color: black;
	text-decoration: none;
	padding-right: 50px;
	padding-left: 50px;
}


#selector {
    width:51%;
    height:50%;
}


