#select {
    width:67%;
    height:67%;
}

body {
	background: #0b0b08
	}

h1 {
	color: white;
		padding-top: 60px;

}
h5 {
	color: white;
}

.nav a {
	color: white;
	text-decoration: none;
	padding-right: 40px;
	padding-left: 40px;
}